<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="section d-flex justify-content-between align-items-center">
            <div class="btn-group category" role="group">
                <a href="" class="btn btn-secondary " style="margin-right: 5px;" type="button">My course</a>
                <a href=""  class="btn btn-secondary" type="button">The course has been signed</a>
            </div>
            <div class="item-addcourse">
                <a href="">Craete course</a>
                <a href="">Register course</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Course key</th>
                    <th scope="col">Teacher name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td></td>
                    <td>Otto</td>
                </tr>

            </tbody>
        </table>
    </div>
</body>

</html>